
<div class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center align-items-center vh-100">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-5">Crear una cuenta</h1>
                                    </div>
                                    <form class="user">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                id="txtUsername" placeholder="Nombre Usuario">
                                                <div class="invalid-feedback" id="txtUsernameError"></div>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                id="txtNombres" placeholder="Nombre Completo">
                                                <div class="invalid-feedback" id="txtNombresError"></div>
                                        </div>   
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                id="txtCorreo" placeholder="Correo Electrónico">
                                                <div class="invalid-feedback" id="txtCorreoError"></div>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                id="txtTelefono" placeholder="Telefono">
                                                <div class="invalid-feedback" id="txtTelefonoError"></div>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                id="txtPassword" placeholder="Contraseña">
                                                <div class="invalid-feedback" id="txtPasswordError"></div>
                                        </div>
                                        <div class="form-group mb-4">
                                            <input type="password" class="form-control form-control-user"
                                                id="txtPasswordRepeat" placeholder="Confirmar Contraseña">
                                                <div class="invalid-feedback" id="txtPasswordRepeatError"></div>
                                        </div>
                                        
                                        
                                        <a href="" id="btnRcontinuar" class="btn btn-primary btn-login btn-user btn-block">
                                            Continuar
                                        </a>
                                    </form>
                                    <div class="form-group d-flex justify-content-center align-items-center">
                                        <span class="mt-3 mr-3">¿Ya tienes Cuenta?</span>
                                        <a class="mt-3" href="/">Iniciar Sesion</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 d-none d-lg-block bg-login-image">
                                <div class="text-center">
                                    <img src="img/logo/belcomremove.png" alt="" width="270" class="mt-5 mb-5">
                                    <h4 class="mt-5 text-white">!Bienvenido a BelcomSpa!</h4>
                                    <h4 class="text-white">Registrate para acceder a todos</h4>
                                    <h4 class="text-white">Nuestros servicios</h4>
                                </div>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>