<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800 font-weight-bold">
            Gestion de Servicios
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item"><a href="/listarServicios">Servicios</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                Listar Servicios
            </li>
        </ol>
    </div>

    <!-- Row -->
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="d-flex justify-content-start mb-4">
                        <a class="btn btn-primary btn-sm mr-2 font-weight-bold" href="/crearServicios">
                            <i class="fas fa-user icono mr-3 "></i>Crear Servicio</a>
                    </div>
                    <div class="table-responsive pt-3">
                        <table class="table table-bordered rounded text-center" id="dataTable">
                            <thead class="thead-light">
                                <tr>
                                    <th>ID</th>
                                    <th>N° Documento</th>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    <th>Telefono</th>
                                    <th>Genero</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>1271345678</td>
                                    <td>Daniel Camilo</td>
                                    <td>Gonzales Calle</td>
                                    <td>3125675656</td>
                                    <td>Masculino</td>
                                    <td>
                                        <div class=" d-flex justify-content-around">
                                            <a href="" class="btn btn-primary" data-toggle="modal" data-target="#UpdateModal"><i class="fas fa-edit" ></i></a>
                                            <a href="" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                                            <a href="" class="btn btn-warning" data-toggle="modal" data-target="#ShowModal"><i class="fas fa-eye"></i></a>
                                            <a href="" class="btn btn-info" data-toggle="modal" data-target="#ServicesModal"><i class="fas fa-cut"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>1000345676</td>
                                    <td>Santiago </td>
                                    <td>Cano Pampona</td>
                                    <td>3205678980</td>
                                    <td>Masculino</td>
                                    <td>
                                        <div class="text-center d-flex justify-content-around">
                                            <a href="" class="btn btn-primary" data-toggle="modal" data-target="#UpdateModal"><i class="fas fa-edit" ></i></a>
                                            <a href="" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                                            <a href="" class="btn btn-warning" data-toggle="modal" data-target="#ShowModal"><i class="fas fa-eye"></i></a>
                                            <a href="" class="btn btn-info" data-toggle="modal" data-target="#ServicesModal"><i class="fas fa-cut"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>1000345676</td>
                                    <td>Juan Samuel </td>
                                    <td>Ortiz Calle</td>
                                    <td>3004567342</td>
                                    <td>Masculino</td>
                                    <td>
                                        <div class="text-center d-flex justify-content-around">
                                            <a href="" class="btn btn-primary" data-toggle="modal" data-target="#UpdateModal"><i class="fas fa-edit" ></i></a>
                                            <a href="" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                                            <a href="" class="btn btn-warning" data-toggle="modal" data-target="#ShowModal"><i class="fas fa-eye"></i></a>
                                            <a href="" class="btn btn-info" data-toggle="modal" data-target="#ServicesModal"><i class="fas fa-cut"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>1200345678</td>
                                    <td>Jhon Miller </td>
                                    <td>Valencia Mosquera</td>
                                    <td>3102345678</td>
                                    <td>Masculino</td>
                                    <td>
                                        <div class="text-center d-flex justify-content-around">
                                            <a href="" class="btn btn-primary" data-toggle="modal" data-target="#UpdateModal"><i class="fas fa-edit" ></i></a>
                                            <a href="" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                                            <a href="" class="btn btn-warning" data-toggle="modal" data-target="#ShowModal"><i class="fas fa-eye"></i></a>
                                            <a href="" class="btn btn-info" data-toggle="modal" data-target="#ServicesModal"><i class="fas fa-cut"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>1345789765</td>
                                    <td>Maria Camila</td>
                                    <td>Gomez Hernandez</td>
                                    <td>3002345656</td>
                                    <td>Femenino</td>
                                    <td>
                                        <div class="text-center d-flex justify-content-around">
                                            <a href="" class="btn btn-primary" data-toggle="modal" data-target="#UpdateModal"><i class="fas fa-edit" ></i></a>
                                            <a href="" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                                            <a href="" class="btn btn-warning" data-toggle="modal" data-target="#ShowModal"><i class="fas fa-eye"></i></a>
                                            <a href="" class="btn btn-info" data-toggle="modal" data-target="#ServicesModal"><i class="fas fa-cut"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>1000456765</td>
                                    <td>Mariana Astrid</td>
                                    <td>Guerra Calle</td>
                                    <td>3145678989</td>
                                    <td>Femenino</td>
                                    <td>
                                        <div class="text-center d-flex justify-content-around">
                                            <a href="" class="btn btn-primary" data-toggle="modal" data-target="#UpdateModal"><i class="fas fa-edit" ></i></a>
                                            <a href="" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                                            <a href="" class="btn btn-warning" data-toggle="modal" data-target="#ShowModal"><i class="fas fa-eye"></i></a>
                                            <a href="" class="btn btn-info" data-toggle="modal" data-target="#ServicesModal"><i class="fas fa-cut"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>1045678678</td>
                                    <td>Juan Santiago</td>
                                    <td>Goes Jimenez</td>
                                    <td>3005678776</td>
                                    <td>Masculino</td>
                                    <td>
                                        <div class="text-center d-flex justify-content-around">
                                            <a href="" class="btn btn-primary" data-toggle="modal" data-target="#UpdateModal"><i class="fas fa-edit" ></i></a>
                                            <a href="" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                                            <a href="" class="btn btn-warning" data-toggle="modal" data-target="#ShowModal"><i class="fas fa-eye"></i></a>
                                            <a href="" class="btn btn-info" data-toggle="modal" data-target="#ServicesModal"><i class="fas fa-cut"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Modificar Datos -->
<div class="modal fade" id="UpdateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelLogout"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card fondo-form">
                            <div class="card-header fondo-form">
                                <h4 class="card-title">Modificar Datos Empleado</h4>
                                <hr>
                            </div>
                            <div class="card-body">
                                <div class="basic-form">
                                    <form>
                                        <div class="form-row">
                                            <div class="form-group col-md-6 mb-4">
                                                <label>Nombres</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i
                                                                class="fas fa-user"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control"
                                                        placeholder="Nombres Completos">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6 mb-4">
                                                <label>Apellidos</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i
                                                                class="fas fa-user"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control"
                                                        placeholder="Apellidos Completos">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6 mb-4">
                                                <label>Telefono Movil</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="fas fa-mobile"></i></span>
                                                    </div>
                                                    <input type="email" class="form-control"
                                                        placeholder="Escribir Telefono Movil">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6 mb-4">
                                                <label>Tipo de Documento</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="fas fa-id-card"></i></span>
                                                    </div>
                                                    <select id="inputState" class="form-control">
                                                        <option selected>Seleccionar Documento</option>
                                                        <option>Option 1</option>
                                                        <option>Option 2</option>
                                                        <option>Option 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6 mb-4">
                                                <label>Numero de Documento</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="fas fa-id-card"></i></span>
                                                    </div>
                                                    <input type="password" class="form-control"
                                                        placeholder="Escribir Numero de Documento">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6 mb-4">
                                                <label>Genero</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i
                                                                class="fas fa-lock"></i></i></span>
                                                    </div>
                                                    <input type="password" class="form-control"
                                                        placeholder="Escribir Tu Genero">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6 mb-4">
                                                <label>Direccion Residencia</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="fas fa-home"></i></span>
                                                    </div>
                                                    <input type="password" class="form-control"
                                                        placeholder="Escribir Direccion de Residencia">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6 mb-4">
                                                <label>Fecha de Nacimiento</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="fas fa-calendar-alt"></i></span>
                                                    </div>
                                                    <input type="date" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-8 mx-auto mb-4">
                                                <label>Rol Asignado</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" >
                                                            <i class="fas fa-user"></i></span>
                                                    </div>
                                                    <input type="text" disabled class="form-control"
                                                    placeholder="Escribir Rol Asignado">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <div class="mt-2">
                    <button type="submit" class="btn-sm btn-success mx-2"><i
                            class="fas fa-check-square mr-2"></i>Guardar</button>
                    <button type="submit" class="btn-sm btn-danger mx-2"><i class="fas fa-times-circle mr-2"
                            data-dismiss="modal"></i>Cancelar</button>
                    <button type="submit" class="btn-sm btn-warning mx-2"><i
                            class="fas fa-exchange-alt mr-2"></i>Restablecer</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Ver Datos -->
<div class="modal fade" id="ShowModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelLogout"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card fondo-form">
                            <div class="card-header fondo-form">
                                <h4 class="card-title">Datos del Empleado</h4>
                                <hr>
                            </div>
                            <div class="container pb-5">
                                <div class="row flex-md-row align-items-center">
                                    <div class="col-md-4">
                                    <p class=" h4 text-center font-weight-bold mb-3">ID: 5</p>
                                    <img src="img/boy.png" alt="Imagen" class="img-fluid">
                                    <p class=" h4 text-center font-weight-bold mt-3">Empleado</p>
                                    </div>
                                    <div class="col-mdl-6 mx-auto">
                                        <div class=" pt-3 text-center">
                                            <table class="table table-bordered rounded">
                                                <tr>
                                                    <th scope="row" class="bg-navbar">Tipo Documento</th>
                                                    <td class="bg-white">Cédula</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="bg-navbar">N° Documento</th>
                                                    <td class="bg-white">1000345678</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="bg-navbar">Nombres</th>
                                                    <td class="bg-white">Juan José</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="bg-navbar">Apellidos</th>
                                                    <td class="bg-white">Alvarez Moncada</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="bg-navbar">Género</th>
                                                    <td class="bg-white">Masculino</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="bg-navbar">Fecha_Nacimiento</th>
                                                    <td class="bg-white">2000/10/30</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="bg-navbar">Direccion</th>
                                                    <td class="bg-white">Calle 57A #102D 65</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" class="bg-navbar">Telefono</th>
                                                    <td class="bg-white">3123456767</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>datatableScript}}