<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800 font-weight-bold">
            Gestión de Empleados
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/panelAdministrativo">Inicio</a></li>
            <li class="breadcrumb-item"><a href="/listarEmpleados">Empleados</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                Listar Empleados
            </li>
        </ol>
    </div>

    <!-- Row -->
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="d-flex justify-content-start mb-4">
                        <a id="btnGenerar" class="btn btn-secondary btn-sm mr-2 font-weight-bold" href="">
                            <i class="fas fa-download icono mr-3 "></i>Generar Pdf</a>
                        <a id="btnExcel" class="btn btn-success ml-4 btn-sm font-weight-bold" href="">
                            <i class="fas fa-file-excel mr-3"></i>Generar Excel</a>
                    </div>
                    <div class="table-responsive pt-3">
                        <table class="table table-bordered rounded text-center" id="dataTable">
                            <thead class="thead-light">
                                <tr>
                                    <th>ID</th>
                                    <th>N° Documento</th>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    <th>Teléfono</th>
                                    <th>Género</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    

    <!-- Modal Modificar Datos -->
    <div class="modal fade" id="UpdateModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabelLogout"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card fondo-form">
                                <div class="card-header fondo-form">
                                    <h4 class="card-title">Modificar Datos del Cliente</h4>
                                    <hr>
                                </div>
                                <div class="card-body">
                                    <div class="basic-form">
                                        <form id="formModificar">
                                            
                                            <div class="form-row">
                                                <input type="text" hidden id="txtID">
                                                <div class="form-group col-md-6 mb-4">
                                                    <label>Nombres</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i
                                                                    class="fas fa-user"></i></span>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Nombres Completos" id="txtNombres">
                                                        <div class="invalid-feedback" id="txtNombresError"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6 mb-4">
                                                    <label>Apellidos</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i
                                                                    class="fas fa-user"></i></span>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Apellidos Completos" id="txtApellidos">
                                                        <div class="invalid-feedback" id="txtApellidosError"></div>
                                                    </div>
                                                </div>
                                                {{!-- <div class="form-group col-md-6 mb-4">
                                                    <label>Nombre Usuario</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i
                                                                    class="fas fa-user"></i></span>
                                                        </div>
                                                        <input type="text" class="form-control"
                                                            placeholder="Escribir Nombre Usuario" id="txtUsername">
                                                    </div>
                                                </div> --}}
                                                <div class="form-group col-md-6 mb-4">
                                                    <label>Teléfono Movil</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-mobile"></i></span>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Escribir Telefono Movil" id="txtTelefono">
                                                        <div class="invalid-feedback" id="txtTelefonoError"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6 mb-4">
                                                    <label>Tipo de Documento</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-id-card"></i></span>
                                                        </div>
                                                        <select id="selDocumento" class="form-control">
                                                            <option value="disabled" selected>Seleccionar Documento</option>
                                                            <option value="Cedula">Cedula</option>
                                                            <option value="Tarjeta de Identidad">Tarjeta de Identidad</option>
                                                            <option value="Pasaporte">Pasaporte</option>
                                                        </select>
                                                        <div class="invalid-feedback" id="selDocumentoError"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6 mb-4">
                                                    <label>Numero de Documento</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-id-card"></i></span>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Escribir Numero de Documento" id="txtNumDocumento">
                                                        <div class="invalid-feedback" id="txtNumDocumentoError"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6 mb-4">
                                                    <label>Género</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i
                                                                    class="fas fa-lock"></i></i></span>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Escribir Tu Genero" id="txtGenero">
                                                        <div class="invalid-feedback" id="txtGeneroError"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-8 mx-auto mb-4">
                                                    <label>Dirección Residencia</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-home"></i></span>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Escribir Direccion de Residencia" id="txtDireccion">
                                                        <div class="invalid-feedback" id="txtDireccionError"></div>
                                                    </div>
                                                </div>
                                                {{!-- <div class="form-group col-md-6  mb-4">
                                                    <label>Fecha de Nacimiento</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-calendar-alt"></i></span>
                                                        </div>
                                                        <input disabled type="text" class="form-control" id="txtFecha">
                                                    </div>
                                                </div> --}}                                  
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <div class="mt-2">
                        <button type="submit" class="btn-sm btn-success mx-2" id="btnMdGuardar">
                            <i class="fas fa-check-square mr-2"></i>Guardar
                        </button>
                        <button type="submit" class="btn-sm btn-danger mx-2" data-dismiss="modal">
                            <i class="fas fa-times-circle mr-2" ></i>Cancelar
                        </button>
                        <button type="" class="btn-sm btn-warning mx-2" id="btnMdReset">
                            <i class="fas fa-exchange-alt mr-2"></i>Restablecer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Ver Datos -->
    <div class="modal fade" id="ShowModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabelLogout"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card fondo-form">
                                <div class="card-header fondo-form">
                                    <h4 class="card-title">Datos del Empleado</h4>
                                    <hr>
                                </div>
                                <div class="container pb-5">
                                    <div class="row flex-md-row align-items-center">
                                        <div class="col-md-4">
                                        <p class=" h4 text-center font-weight-bold mb-3">Foto<span id="txtVerID"></span></p>
                                        <img src="img/boy.png" alt="Imagen" class="img-fluid">
                                        <p class=" h4 text-center font-weight-bold mt-3">Empleado</p>
                                        </div>
                                        <div class="col-mdl-6 mx-auto">
                                            <div class=" pt-3 text-center">
                                                <table class="table table-bordered rounded" id="verDatosM">
                                                    <tr>
                                                        <th scope="row" class="bg-navbar">Tipo Documento</th>
                                                        <td class="bg-white" id="txtVerTipoDocumento"></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="bg-navbar">N° Documento</th>
                                                        <td class="bg-white" id="txtVerNumDocumento"></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="bg-navbar">Nombres</th>
                                                        <td class="bg-white" id="txtVerNombres"></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="bg-navbar">Apellidos</th>
                                                        <td class="bg-white" id="txtVerApellidos"></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="bg-navbar">Género</th>
                                                        <td class="bg-white" id="txtVerGenero"></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="bg-navbar">Fecha_Nacimiento</th>
                                                        <td class="bg-white" id="txtVerFechaNacimiento"></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="bg-navbar">Dirección</th>
                                                        <td class="bg-white" id="txtVerDireccion"></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="bg-navbar">Teléfono</th>
                                                        <td class="bg-white" id="txtVerTelefono"></td>
                                                    </tr> 
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Servicios Empleados -->
    <div class="modal fade" id="ServicesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabelLogout"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card fondo-form">
                                <div class="card-header fondo-form">
                                    <h4 class="card-title">Servicios Empleados</h4>
                                    <hr>
                                </div>
                                <div class="container pb-5">
                                    <div class="row flex-md-row">
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-secondary btn-sm btn-block" id="btnbarberia" onclick="mostrarServicios('barberia')">Barberia</button>
                                            <button type="button" class="btn btn-secondary btn-sm btn-block" id="btnpeluqueria" onclick="mostrarServicios('peluqueria')">Peluqueria</button>
                                            <button type="button" class="btn btn-secondary btn-sm btn-block" id="btnmanicure" onclick="mostrarServicios('manicure')">Manicure</button>
                                            <button type="button" class="btn btn-secondary btn-sm btn-block" id="btnpedicure" onclick="mostrarServicios('pedicure')">Pedicure</button>
                                            <button type="button" class="btn btn-secondary btn-sm btn-block" id="btnspa" onclick="mostrarServicios('spa')">Spa</button>
                                        </div>
                                        <div class="col-mdl-6 mx-auto">
                                            
                                            <div class="form-group">
                                                <label for="inputText">Nombre del Empleado</label>
                                                <div class="input-group">
                                                    
                                                    <input type="text" class="form-control mr-2" id="inputText" value="Juan Jose Alvarez Ortiz" style="width: 60%;">
                                                    <button type="button" class="btn btn-primary btn-sm" style="width: 30%;"><i class="fas fa-check-square mr-3"></i>Asignar</button>
                                                </div>
                                            </div>

                                            <span class="mt-3">Servicios Categoria</span>
                                            <div class="jumbotron mt-2">
                                                <!-- Checkbox -->
                                                <div class="form-group listar-servicios" id="barberia">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="checkbox1">
                                                        <label class="form-check-label" for="checkbox1">Corte de Pelo</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="checkbox2">
                                                        <label class="form-check-label" for="checkbox2">Corte Tribales</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="checkbox2">
                                                        <label class="form-check-label" for="checkbox2">Afeitado Clasico</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="checkbox2">
                                                        <label class="form-check-label" for="checkbox2">Afeitado Premium</label>
                                                    </div>
                                                </div>

                                                <div class="form-group listar-servicios" id="peluqueria">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="checkbox1">
                                                        <label class="form-check-label" for="checkbox1">Corte Basico</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="checkbox2">
                                                        <label class="form-check-label" for="checkbox2">Peinados Especiales</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="checkbox2">
                                                        <label class="form-check-label" for="checkbox2">Tratamiento Capilar</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="checkbox2">
                                                        <label class="form-check-label" for="checkbox2">Depilacion con Cera</label>
                                                    </div>
                                                </div>
                                                <div class="form-group listar-servicios" id="manicure">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="checkbox1">
                                                        <label class="form-check-label" for="checkbox1">Manicure Basico</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="checkbox2">
                                                        <label class="form-check-label" for="checkbox2">Esmaltado Regular</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="checkbox2">
                                                        <label class="form-check-label" for="checkbox2">Uñas de Gel</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="checkbox2">
                                                        <label class="form-check-label" for="checkbox2">Uñas Encapsuladas</label>
                                                    </div>
                                                </div>
                                                <div class="form-group listar-servicios" id="pedicure">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="checkbox1">
                                                        <label class="form-check-label" for="checkbox1">Pedicure Basico</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="checkbox2">
                                                        <label class="form-check-label" for="checkbox2">Decoracion Uñas</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="checkbox2">
                                                        <label class="form-check-label" for="checkbox2">Esmaltado Semipermanente</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="checkbox2">
                                                        <label class="form-check-label" for="checkbox2">Cuidado de Pies</label>
                                                    </div>
                                                </div>
                                                <div class="form-group listar-servicios" id="spa">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="checkbox1">
                                                        <label class="form-check-label" for="checkbox1">Masaje Facial</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="checkbox2">
                                                        <label class="form-check-label" for="checkbox2">Exfoliacion Corporal</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="checkbox2">
                                                        <label class="form-check-label" for="checkbox2">Tratamiento Aromaterapia</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="checkbox2">
                                                        <label class="form-check-label" for="checkbox2">Baños de Hidromasaje</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>

    const mostrarServicios = (categoria) => {

        const servicios = document.querySelectorAll('.listar-servicios');
        servicios.forEach((servicio) => {
            servicio.style.display = 'none';
        });

        const serviciosCategoria = document.querySelector('#' + categoria);
        serviciosCategoria.style.display = 'block';

        const botonCategoria = document.querySelector('#'+'btn'+categoria);
        botonCategoria.classList.add('active')
    }
</script>