<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
    <div class="text-center my-5">
        <img src="img/error.svg" style="max-height: 100px;" class="mb-4">
        <h3 class="text-gray-800 font-weight-bold mb-5">Oopss!</h3>
        <p class="lead text-gray-800 mx-auto">404 Pagina No Encontrada</p>
        <a class="mb-4" href="/">&larr; Pagina Principal</a>
    </div>
</div>