<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800 font-weight-bold">Gestion de Categorias</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item"><a href="/listarCategorias">Categorias</a></li>
            <li class="breadcrumb-item active" aria-current="page">Crear Categoria</li>
        </ol>
    </div>


    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card fondo-form">
                <div class="card-header fondo-form">
                    <h4 class="card-title">Formulario Crear Categoria</h4>
                    <hr>
                </div>
                <div class="card-body">
                    <div class="basic-form">
                        <form id="formModificar">
                            <div class="form-row">
                                <div class="form-group col-md-6 mb-4">
                                    <label for="txtNombre" >Nombre Categorias</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input id="txtNombre" type="text" class="form-control" placeholder="Nombre Categoria">
                                        <div class="invalid-feedback" id="txtNombreError"></div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 mb-4">
                                    <label for="txtCodigo" >Codigo Categoria</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input id="txtCodigo" type="text" class="form-control" placeholder="Codigo Categoria">
                                        <div class="invalid-feedback" id="txtCodigoError"></div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 mb-4">
                                    <label for="txtDescripcion" >Descripcion Categoria</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"></span>
                                        </div>
                                        <textarea id="txtDescripcion" class="form-control min-height-5" placeholder="Descripcion Categoria..."></textarea>
                                        <div class="invalid-feedback" id="txtDescripcionError"></div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 mb-4">
                                    <label for="txtObservaciones" >Observaciones Categoria</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"></span>
                                        </div>
                                        <textarea id="txtObservaciones" class="form-control min-height-5" placeholder="Comentarios Categoria..."></textarea>
                                        <div class="invalid-feedback" id="txtObservacionesError"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mt-5">
                                <button type="button" id="btnGuardar" class="btn-sm btn-success mx-2">
                                    <i class="fas fa-check-square mr-2"></i>Guardar
                                </button>
                                <button type="button" id="btnCancelar" class="btn-sm btn-danger mx-2">
                                    <i class="fas fa-times-circle mr-2"></i>Cancelar
                                </button>
                                <button type="button" id="btnReset" class="btn-sm btn-warning mx-2">
                                    <i class="fas fa-exchange-alt mr-2"></i>Restablecer
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    