<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800 font-weight-bold">Gestion de Categorias</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item"><a href="/listarCategorias">Categorias</a></li>
            <li class="breadcrumb-item active" aria-current="page">Crear Categoria</li>
        </ol>
    </div>


    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card fondo-form">
                <div class="card-header fondo-form">
                    <h4 class="card-title">Formulario Crear Categoria</h4>
                    <hr>
                </div>
                <div class="card-body">
                    <div class="basic-form">
                        <form>

                            <div class="form-row">
                                <div class="form-group col-md-6 mb-4">
                                    <label>Nombre Categorias</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Nombres Completos">
                                    </div>
                                </div>
                                <div class="form-group col-md-6 mb-4">
                                    <label>Codigo Categoria</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Apellidos Completos">
                                    </div>
                                </div>
                                <div class="form-group col-md-12 mb-4">
                                    <label>Descripcion Categoria</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-envelope-open"></i></span>
                                        </div>
                                        <textarea name="" id="" cols="30" rows="10"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 mb-4">
                                    <label>Nombre Usuario</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input type="email" class="form-control" placeholder="Escribir Nombre Usuario">
                                    </div>
                                </div>
                                <div class="form-group col-md-6 mb-4">
                                    <label>Telefono</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-phone-square"></i></span>
                                        </div>
                                        <input type="password" class="form-control"
                                            placeholder="Escribir Telefono Movil">
                                    </div>
                                </div>
                                <div class="form-group col-md-6 mb-4">
                                    <label>Asignar Rol</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user-tag"></i></span>
                                        </div>
                                        <select id="inputState" class="form-control">
                                            <option selected>Seleccionar Rol</option>
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="form-group col-md-6 mb-4">
                                    <label>Contrase単a</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-lock"></i></i></span>
                                        </div>
                                        <input type="password" class="form-control" placeholder="Escribir Contrase単a">
                                    </div>
                                </div>
                                <div class="form-group col-md-6 mb-4">
                                    <label>Confirmar Contrase単a</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-lock"></i></i></span>
                                        </div>
                                        <input type="password" class="form-control"
                                            placeholder="Escribir Contrase単a Nuevamente">
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mt-5">
                                <button type="submit" class="btn-sm btn-success mx-2"><i
                                        class="fas fa-check-square mr-2"></i>Guardar</button>
                                <button type="submit" class="btn-sm btn-danger mx-2"><i
                                        class="fas fa-times-circle mr-2"></i>Cancelar</button>
                                <button type="submit" class="btn-sm btn-warning mx-2"><i
                                        class="fas fa-exchange-alt mr-2"></i>Restablecer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{>basicScript}}

    