
        <!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
    <div id="listarUsuarios"></div>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800 font-weight-bold">
            Gestión de Usuarios
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item"><a href="/listarUsuarios">Usuarios</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                Listar Usuarios
            </li>
        </ol>
    </div>

    <!-- Row -->
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="d-flex justify-content-start mb-4">
                        <a class="btn btn-primary btn-sm mr-2 font-weight-bold" href="/crearUsuario">
                            <i class="fas fa-user icono mr-3 "></i>Crear Usuario</a>
                        <button id="btnGenerar" class="btn btn-secondary ml-4 btn-sm font-weight-bold">
                            <i class="fas fa-download mr-3"></i>Generar Pdf</button>
                    </div>
                    <div class="table-responsive pt-3">
                        <table class="table table-bordered rounded text-center" id="dataTable">
                            <thead class="thead-light">
                                <tr>
                                    <th>ID</th>
                                    <th>Usuario</th>
                                    <th>Correo Electronico</th>
                                    <th>Rol</th>
                                    <th>Fecha_Registro</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Modificar -->
    <div class="modal fade" id="UpdateModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabelLogout"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card fondo-form">
                                <div class="card-header fondo-form">
                                    <h4 class="card-title">Modificar Datos Usuario</h4>
                                    <hr>
                                </div>
                                <div class="card-body">
                                    <div class="basic-form">
                                        <form id="formModificar">

                                            <div class="form-row">
                                                <input type="text" hidden id="txtID">
                                                <div class="form-group col-md-6 mb-4">
                                                    <label>Nombres</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                        </div>
                                                        <input type="text" id="txtNombres" class="form-control" placeholder="Nombres Completos">
                                                        <div class="invalid-feedback" id="txtNombresError"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6 mb-4">
                                                    <label>Apellidos</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                        </div>
                                                        <input type="text" id="txtApellidos" class="form-control" placeholder="Apellidos Completos">
                                                        <div class="invalid-feedback" id="txtApellidosError"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6 mb-4">
                                                    <label>Correo Electronico</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-envelope-open"></i></span>
                                                        </div>
                                                        <input type="email" id="txtCorreo" class="form-control" placeholder="Escribir Correo Electronico">
                                                        <div class="invalid-feedback" id="txtCorreoError"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6 mb-4">
                                                    <label>Nombre Usuario</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                        </div>
                                                        <input type="text" id="txtUsername" class="form-control" placeholder="Escribir Nombre Usuario">
                                                        <div class="invalid-feedback" id="txtUsernameError"></div>
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group col-md-8 mx-auto mb-4">
                                                    <label>Asignar Rol</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-user-tag"></i></span>
                                                        </div>
                                                        <select id="selRol" class="form-control">
                                                            <option value="disabled" selected>Seleccionar Rol</option>
                                                            <option value="Usuario">Usuario</option>
                                                            <option value="Empleado">Empleado</option>
                                                            <option value="Administrador">Administrador</option>
                                                        </select>
                                                        <div class="invalid-feedback" id="selRolError"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <div class="mt-2">
                        <button type="submit" class="btn-sm btn-success mx-2" id="btnMdGuardar">
                            <i class="fas fa-check-square mr-2"></i>Guardar
                        </button>
                        <button type="submit" class="btn-sm btn-danger mx-2" data-dismiss="modal">
                            <i class="fas fa-times-circle mr-2" ></i>Cancelar
                        </button>
                        <button type="" class="btn-sm btn-warning mx-2" id="btnMdReset">
                            <i class="fas fa-exchange-alt mr-2"></i>Restablecer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Ver Datos -->
    <div class="modal fade" id="ShowModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabelLogout"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card fondo-form">
                                <div class="card-header fondo-form">
                                    <h4 class="card-title">Datos del Empleado</h4>
                                    <hr>
                                </div>
                                <div class="container pb-5">
                                    <div class="row flex-md-row align-items-center">
                                        <div class="col-md-4">
                                        <p class=" h4 text-center font-weight-bold mb-3">ID: 5</p>
                                        <img src="img/boy.png" alt="Imagen" class="img-fluid">
                                        <p class=" h4 text-center font-weight-bold mt-3">Empleado</p>
                                        </div>
                                        <div class="col-mdl-6 mx-auto">
                                            <div class=" pt-3 text-center">
                                                <table class="table table-bordered rounded">
                                                    <tr>
                                                        <th scope="row" class="bg-navbar">Tipo Documento</th>
                                                        <td class="bg-white">Cédula</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="bg-navbar">N° Documento</th>
                                                        <td class="bg-white">1000345678</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="bg-navbar">Nombres</th>
                                                        <td class="bg-white">Juan José</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="bg-navbar">Apellidos</th>
                                                        <td class="bg-white">Alvarez Moncada</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="bg-navbar">Género</th>
                                                        <td class="bg-white">Masculino</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="bg-navbar">Fecha_Nacimiento</th>
                                                        <td class="bg-white">2000/10/30</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="bg-navbar">Direccion</th>
                                                        <td class="bg-white">Calle 57A #102D 65</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="bg-navbar">Telefono</th>
                                                        <td class="bg-white">3123456767</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const url = 'https://backend-valhalla.onrender.com/ruta/usuarios';

        
        

        //==================================

        
    </script>