<div class="container-fluid" id="container-wrapper">
    <div id="listarUsuarios"></div>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800 font-weight-bold">
            Gestión de Reservas
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/panelAdministrativo">Inicio</a></li>
            <li class="breadcrumb-item"><a href="/listarReservas">Reservas</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                Listar Reservas
            </li>
        </ol>
    </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card bg-light">
                    <div class="card-body">
                        <div class="card-title">
                            <h4>Calendario Reservas</h4>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 mt-5">
                                <a href="#" data-toggle="modal" data-target="#add-category" class="btn btn-primary btn-block"><i class="ti-plus f-s-12 m-r-5"></i> Crear Evento</a>
                                <div id="external-events" class="mt-5">
                                    
                                </div>
                                <!-- checkbox -->
                                <div class="checkbox m-t-40">
                                    <input id="drop-remove" type="checkbox">
                                    <label for="drop-remove">Eliminar Eventos</label>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card-box m-b-50">
                                    <div id="calendar"></div>
                                </div>
                            </div>
                            <!-- end col -->
                            <!-- BEGIN MODAL -->
                            <div class="modal fade none-border" id="event-modal">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title"><strong>Registrar Nuevo Evento</strong></h4>
                                        </div>
                                        <div class="modal-body"></div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-warning waves-effect" data-dismiss="modal">Cerrar</button>
                                            <button type="button" class="btn btn-success save-event waves-effect waves-light">Aceptar</button>
                                            <button type="button" class="btn btn-danger delete-event waves-effect waves-light" data-dismiss="modal">Eliminar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal Add Category -->
                            <div class="modal fade none-border" id="add-category">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title"><strong>Registrar Evento</strong></h4>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label class="control-label">Nombre Reserva</label>
                                                        <input class="form-control form-white" placeholder="Enter name" type="text" name="category-name">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="control-label">Color Reserva</label>
                                                        <select class="form-control form-white" data-placeholder="Choose a color..." name="category-color">
                                                            <option value="success">Verde</option>
                                                            <option value="danger">Rojo</option>
                                                            <option value="info">Azul</option>
                                                            <option value="pink">Rosado</option>
                                                            <option value="primary">Azul Claro</option>
                                                            <option value="warning">Amarillo</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cerrar</button>
                                            <button type="button" class="btn btn-success waves-effect waves-light save-category" data-dismiss="modal">Guardar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END MODAL -->
                        </div>
                    </div>
                </div>
                <!-- /# card -->
            </div>
            <!-- /# column -->
        </div>
    </div>
</div>
